:root {
  --primary-color: #2196f3;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

/* header */

.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header .container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header .list,
.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 80px;
}

.nav-list > .list:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--primary-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding: 0;
}

.logo-accent {
  color: var(--title-text-color);
}

.header .list {
  position: relative;
}

.header__link {
  color: var(--title-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header__link--current {
  color: var(--primary-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header__link--current::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.header__link:hover,
.header__link:focus {
  color: var(--primary-color);
}

.header__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header__link-contact {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__link-contact:hover,
.header__link-contact:focus {
  color: var(--primary-color);
}

.contact-list .list:not(:first-child) {
  margin-left: 30px;
}

.contact-list .list {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* header icons */

.header .icon-mail {
  display: inline-block;
  fill: currentColor;
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
}

.header .icon-smartphone {
  display: inline-block;
  fill: currentColor;
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
}

.heading {
  color: transparent;
}

/* portfolio */

.portfolio .container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.portfolio .list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 50px;
  margin-top: 0px;
}

.portfolio .nav-button {
  background: var(--secondary-background-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
}

.portfolio .nav-button:hover,
.portfolio .nav-button:focus {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.portfolio .link {
  text-decoration: none;
}

.portfolio .block {
  margin-right: 30px;
}

.portfolio .block:last-child {
  margin-right: 0px;
}

.portfolio .image {
  display: block;
  width: 370px;
  height: auto;
}

.portfolio .title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}

.portfolio .subtitle {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio .box {
  display: flex;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}

.portfolio .box:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio .box:hover,
.portfolio .box:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.portfolio .box-content {
  padding-left: 24px;
  padding-bottom: 20px;
}

.portfolio .product_thumb {
  position: relative;
  overflow: hidden;
}

.portfolio .product_thumb::before {
  position: absolute;
  content: "";
  top: 100%;
  bottom: 0;
  width: 100%;
  height: 110%;
  border-radius: 5px;

  background-color: var(--primary-color);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .product:hover .product_thumb::before {
  opacity: 0.9;
  top: 0%;
}

.portfolio .text {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 100%;
  overflow: hidden;

  width: 322px;
  opacity: 0;

  color: var(--primary-background-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  transition: 250ms;
}

.portfolio .product:hover .text {
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */

.footer {
  background: #2f303a;
}

.footer .container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 28px;
}

.footer .contact {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .social-list {
  display: flex;
  padding: 0;
}

.footer .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #fff;
}

.footer .social-icon:hover {
  background-color: var(--primary-color);
}

.footer .icon {
  width: 20px;
  height: 20px;
}

.footer .list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .link {
  color: #ffffff;
  text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--primary-color);
}

.footer .title {
  color: #fff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.footer .form-title {
  color: var(--primary-background-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .social-list {
  list-style: none;
}

.footer .social-icon {
  margin-right: 12px;
}

.footer .button {
  background-color: var(--primary-color);
  color: var(--primary-background-color);
  text-decoration: none;
  font-family: Roboto;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 29px;
  padding-left: 29px;
  margin-top: 21px;
  border-radius: 4px;
}

.footer .icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #fff;
}

.logo-accent-footer {
  color: #fff;
}

.footer .form {
  display: block;
}

.footer .copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
}
